{% extends "base.html" %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">Управление базой данных утилизационного бюро</p>
    </div>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Изменение БД</h4>
          </div>
          <div class="card-body">
            <a href="{{ url_for('add_car') }}" class="btn btn-lg btn-block btn-primary">Добавить автомобиль</a>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Просмотр БД</h4>
          </div>
          <div class="card-body">
            <a href="{{ url_for('get_info') }}" class="btn btn-lg btn-block btn-primary">Искать информацию</a>
          </div>
        </div>
      </div>
{% endblock %}
